<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    
</head>
<body>
    <div class="container">
        <h1>Ingrese datos</h1>

        <div class="row">
            <form action="/personas" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input name="name">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Apellido</label>
                    <input name="lastname">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Edad</label>
                    <input type="number" name="age">
                </div>

                <button type="submit">Guardar</button>
            </form>
        </div>
        <div class="row">
            <h2>Historial</h2>
            <% if(personas.length == 0) { %>
                No se encotraron datos
            <% } else { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% personas.forEach(persona => { %>
                            <tr>
                                <td scope="row"><%= persona.name %></td>
                                <td><%= persona.lastname %></td>
                                <td><%= persona.age %></td>
                                <td class="delete"><a href="/delete/<%= persona.name %>" >X</a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
    <div id="deleted" style="display: none;"><%= typeof isDeleted != 'undefined' ? isDeleted : '' %></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        const isDeleted = document.getElementById('deleted').innerHTML
        if(isDeleted == 'deleted') {
            Toastify({
                text: "Persona eliminada",
                className: "danger",
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                }
            }).showToast()
        }

    </script>
</body>
</html>